################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSHARPITLA/.vs/CSHARPITLA/FileContentIndex/b5507309-a7e8-41f7-a5d0-a938add8c920.vsidx
