################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSHARPITLA/.vs/CSHARPITLA/FileContentIndex/d937b3df-a628-4e56-8b43-8ec8234a3d28.vsidx
