################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSHARPITLA/.vs/CSHARPITLA/FileContentIndex/d937b3df-a628-4e56-8b43-8ec8234a3d28.vsidx
/CSHARPITLA/.vs/CSHARPITLA/FileContentIndex/064ef9cb-7c2f-4ffd-ad48-18e6cfd25756.vsidx
/CSHARPITLA/.vs/CSHARPITLA/FileContentIndex/ba44c4ee-22c2-409b-a778-178319386887.vsidx
